.stock-card-container {
  width: 22rem;
  height: 12rem;
  background-color: var(--secondary-color);
  padding: 0.8rem;
  margin: 1.2rem;
  border-radius: 0.375rem;
  border-left:solid var(--positive-variation-color) 0.25rem;
  display:flex ;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12),0 0.0625rem 0.0125rem rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
  box-shadow: 0.001rem 0.05rem 0.06rem rgba(0, 255, 13, 0.027),0 0.05rem 0.06rem rgba(9, 255, 0, 0.034);

}

.stock-card-container:hover{
  box-shadow: 0 1rem 1.61rem rgba(9, 255, 0, 0.25),0 1rem 1.61rem rgba(1, 255, 56, 0.22);
}

.negative-variation-border:hover{
  box-shadow: 0 1rem 1.61rem rgba(255, 0, 0, 0.25),0 1rem 1.61rem rgba(255, 0, 0, 0.22);
}

.negative-variation-border{
  border-left-color:var(--negative-variation-color);
  box-shadow: 0.001rem 0.05rem 0.06rem rgba(255, 0, 0, 0.027),0 0.05rem 0.06rem rgba(255, 0, 0, 0.034);
}

.stock-card-container h2,p {
  margin: 0;
}

.stock-card-container h2 {
  color: var(--primary-text-color);

}

.stock-card-container p {
  font-weight: 456;
  font-size: 0.789rem;
  color: var(--secondary-text-color);
}

.stock-info1{
  width: 100%;
  display:flex ;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

}

.stock-value-container {
  display:flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

}

.stock-value-container .value{
  font-size: 2.5rem;
  color: var(--primary-text-color);

}

.stock-value-container .variation{
  font-size: 0.8rem;
  background-color: var(--positive-variation-color);
  color: var(--secondary-color);
  padding: 0.1rem 0.3rem;
  border-radius: 0.15rem;
  align-self: flex-end;
  margin-top: 0.15rem;
  font-size: 0.9rem;

}

.stock-value-container .negative-variation{
  background-color:var(--negative-variation-color) ;
}
