.header{
  width: 100%;

  /* padding-left: 24px;
  padding-right:24px;
  padding-top: 16px;
  padding-bottom: 16px; */
  padding: 1rem 1.61rem;
  background-color: var(--primary-color);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0,0,0,0.16),0 3px 5px rgba(0,0,0,0.23);
}

@media screen and (max-width:768px){
.header{
  width: 200%;
  padding: 1rem 1.61rem;
  box-shadow: 0 0.05rem 0.08rem rgba(0,0,0,0.16),0  0.1rem 0.5rem rgba(0,0,0,0.23);
  justify-content: center;
}
}
